stages:
- build_and_push_docker_image
- build_infra
- deploy

variables:
  IMAGE_NAME: $DOCKERHUB_USERNAME/webserver

build_image_and_push:
  stage: build_and_push_docker_image
  image: docker:24
  services:
  - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
  - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
  - docker build -f app/Dockerfile -t $IMAGE_NAME:$CI_COMMIT_SHORT_SHA app/
  - docker tag $IMAGE_NAME:$CI_COMMIT_SHORT_SHA $IMAGE_NAME:latest
  - docker push $IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  - docker push $IMAGE_NAME:latest
  rules:
  - if: '$CI_COMMIT_BRANCH == "main"'
    changes:
    - app/**

build_infra:
  stage: build_infra
  image:
    name: hashicorp/terraform:1.6.6
    entrypoint:
    - '/usr/bin/env'
    - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

  before_script:
  - cd infra
  - terraform init
  script:
  - terraform plan -out=tfplan
  - terraform apply -auto-approve tfplan

# deploy:
#   stage: deploy
#   image: amazon/aws-cli:latest
#   before_script:
#   - apk add --no-cache curl
#   - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
#   - install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl

#   # Configure AWS credentials (stored as GitLab CI/CD variables) 
#   - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
#   - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
#   - aws configure set default.region "us-east-1"
#   # Generate kubeconfig for EKS cluster
#   - aws eks update-kubeconfig --name webserver-cluster --region us-east-1
#   # Move into k8s folder
#   - cd k8s

#   script:
#   - kubectl apply -f .

deploy:
  stage: deploy
  image: ubuntu:22.04

  before_script:
  - apt update && apt install -y curl unzip ca-certificates

  # Install AWS CLI v2
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install

  # Install kubectl
  - curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
  - install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl

  # AWS auth
  - aws configure set aws_access_key_id "$AWS_ACCESS_KEY_ID"
  - aws configure set aws_secret_access_key "$AWS_SECRET_ACCESS_KEY"
  - aws configure set default.region "us-east-1"

  # Kubeconfig
  - aws eks update-kubeconfig --name webserver-cluster --region us-east-1

  - cd k8s

  script:
  - kubectl create ns siddharth
  - kubectl apply -f .
