apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: myapp
  name: myapp
  namespace: siddharth
spec:
  replicas: 5
  selector:
    matchLabels:
      app: myapp
  strategy: {}
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - image: sidilian09/webserver:latest
        imagePullPolicy: Always
        name: my-server
        resources:
          requests:
            cpu: "100m"
            memory: "100Mi"
          limits:
            cpu: "200m"
            memory: "200Mi"
        envFrom:
        - configMapRef:
            name: app-config-dev #connecting configmap
        - secretRef:
            name: app-secret #connecting secrets
