footer {
  margin-top: 40px;
  padding: 40px 0;
}

footer .footer-header {
  font-size: 16rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

footer .footer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

footer .footer-content-wrapper {
  display: flex;
  justify-content: space-between;
}

footer .footer-content-wrapper .section-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 4px;
}

footer .footer-content-wrapper p {
  font-size: 0.8rem;
  margin: 12px 0;
  opacity: 0.7;
}
